@import "_bootstrap.less";

.cta{
    display:none;
}

/**
 *     Playing with Whateverweb's EXTENDED 
 * media queries :)
 */


/**
* WeW extended media queries
*/
/*Look for touch capability and enhance*/
@media (-wew-pointing-method: touchscreen) {
.button{
display:block;
margin-bottom: 1em;
}
}
/*Look for brand name and enhance */
@media (-wew-brand-name: samsung) {
.ads .samsung{
display:block;
}
}





